/*
* Default sytles
*/
li{
  list-style: none;
}


/*main styles*/
#app{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.slider{
  overflow: scroll;
  height: 100vh;
  width: 25%;
  float: left;
  overflow: scroll;
}

.filter{
  width: 00%;
  margin: 5px;
}

.venueFilter{
  padding: 8px;
  margin: 5px;
}


.itemList{
  padding: 5px;
}

.sg-list{
  -webkit-box-shadow: 11px 11px 31px -16px rgba(0,0,0,0.62);
  -moz-box-shadow: 11px 11px 31px -16px rgba(0,0,0,0.62);
  box-shadow: 11px 11px 31px -16px rgba(0,0,0,0.62);
}
